 /* body{
background-image:url(../images/bgdog.jpeg);
} */ 
body{
    background-color: aqua;
    background-size: cover;
/*    background-repeat: repeat-y;*/
}
div{
    background-color:  #5ef789;
}
i{
    color: black;
}
h1{
    color: white;
    text-align: center;
   /* border: 3px solid red; */
    width: 300px;
    padding: 20px;
    margin: 200px auto;
    margin-top: 300px;
    font-family: 'Coiny', cursive;
    font-size: 3em;
}