p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
p.dashed {outline-style: dashed;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;}

    a {
        display: block;
      }
      div.static {
        position: static;
        border: 3px solid #73AD21;
      }
      img {
        float: right;
      }
      .center {
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
      }